<style>
    .modal-content {
        border-radius: 8px;
    }
    .modal-header {
        border-bottom: none;
        padding-bottom: 0;
    }
    .modal-body {
        padding-top: 0;
    }
    .modal-footer {
        border-top: none;
    }
    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Danh sách sản phẩm</h4>
                </div>
                <a href="/product/addProductPage" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Thêm sản phẩm</a>
            </div>
        </div>
        {{#if (or success error)}}
            <div id="successAlert" style="position: fixed; top: 20px; right: 20px; z-index: 9999; display: none;">
                <div class="toast bg-success text-white border-0 rounded p-2 mt-3" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header bg-success text-white">
                        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect width="100%" height="100%" fill="#fff"></rect>
                    </svg>
                    <strong class="mr-auto text-white">Thông báo</strong>
                    <small>vừa xong</small>
                    <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    <!-- Nội dung thông báo sẽ được đặt ở đây -->
                </div>
            </div>
            </div>
        {{/if}}
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
            <table class="data-tables table mb-0 tbl-server-info">
                <thead class="bg-white text-uppercase">
                    <tr class="ligth ligth-data">
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Mã sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá bán lẻ</th>
                        <th>Giá nhập</th>
                        <th>Số lượng</th>
                        <th>Tùy chọn</th>
                    </tr>
                </thead>
                <tbody class="ligth-body">
                    {{#each products}}
                    <tr>
                        <td>{{increment @index}}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{image}}" class="img-fluid rounded avatar-50 mr-3" alt="image">
                                <div>
                                    {{name}}
                                </div>
                            </div>
                        </td>
                        <td>{{barcode}}</td>
                        <td>{{category}}</td>
                        <td>{{formatCurrency retailPrice}}</td>
                        <td>{{formatCurrency importPrice}}</td>
                        <td>{{quantity}}</td>
                        <td>
                            <div class="d-flex align-items-center list-action">
                                <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                    href="/product/editProductPage/{{_id}}"><i class="ri-pencil-line mr-0"></i></a>
                                <form class="badge bg-warning mr-2 delete-product-form" style="display: inline;">
                                    <button type="button" class="bg-warning delete-product-btn" data-toggle="tooltip" data-placement="top" title="Delete" style="border: none; cursor: pointer;" onclick="confirmDelete('{{_id}}', '{{name}}')">
                                        <i class="ri-delete-bin-line mr-0"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>
        </div>
    </div>

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Xóa sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc rằng muốn xóa sản phẩm này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<script>
    function confirmDelete(id, name) {
        // Hiển thị modal xác nhận
        $('#deleteConfirmModal').modal('show');
        // Thiết lập sự kiện cho nút "Xóa" trong modal
        $('#confirmDeleteBtn').off('click').on('click', function() {
            // Gửi yêu cầu API để xóa sản phẩm
            $.ajax({
                url: `/product/deleteProduct/${id}`, // Đường dẫn API xóa sản phẩm
                type: 'DELETE',
                success: function(response) {
                    if(response.success){
                        $('#deleteConfirmModal').modal('hide');
                        window.location.href = '/product/listProduct?success=delete';
                    }
                },
                error: function(error) {
                    // Xử lý khi có lỗi xảy ra
                    window.location.href = '/product/listProduct?error=deleteFail';
                }
            });
        });
    }
    

    function showAlert(message, type) {
        const alertElement = document.getElementById('successAlert');
        if (!alertElement) {
            console.error('Không tìm thấy phần tử successAlert');
            return;
        }
        const toast = alertElement.querySelector('.toast');
        const toastBody = toast.querySelector('.toast-body');

        // Đặt nội dung và màu sắc cho toast
        toastBody.textContent = message;
        toast.className = `toast text-white border-0 rounded p-2 mt-3 bg-${type}`;
        toast.querySelector('.toast-header').className = `toast-header text-white bg-${type}`;

        // Hiển thị toast
        alertElement.style.display = 'block';
        toast.classList.add('show');
        
        // Ẩn toast sau 1 giây
        setTimeout(function() {
            toast.classList.remove('show');
            setTimeout(function() {
                alertElement.style.display = 'none';
            }, 150);
        }, 2000);
    }
    // Kiểm tra URL để hiển thị thông báo phù hợp
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('success') === 'add') {
        showAlert('Thêm sản phẩm thành công', 'success');
    } else if (urlParams.get('success') === 'edit') {
        showAlert('Chỉnh sửa sản phẩm thành công', 'success');
    } else if (urlParams.get('success') === 'delete') {
        showAlert('Xóa sản phẩm thành công', 'success');
    } else if (urlParams.get('error') === 'deleteFail') {
        showAlert('Sản phẩm đã được mua không thể xóa', 'warning');
    }



    // Xóa tham số query sau khi đã hiển thị thông báo
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.pathname);
    }
</script>